<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://cdn.shopify.com/s/files/1/0997/6284/files/noise_icon_black_on_white.svg" alt="" width="72" height="72">
    <h2>Earn Points (1 Step = 1 Point)</h2>
------------------------------------------------------------------------------------------
<br/><br/>
	   <form class="form-inline" action="/earn-point">
	    <div class="form-group" style="margin-left: 32%;">
	      <label for="email">Add Steps:</label> &nbsp;&nbsp;&nbsp;
	      <input type="text" class="form-control" id="email" placeholder="Enter today's step" name="steps">
	    </div>&nbsp;&nbsp;&nbsp;
	    <button type="submit" class="btn btn-info">Submit</button>
	  </form>
  </div>
</div>
